{% extends "base.html" %}

{% block content %}
  {% if not created %}
    <form action="." method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Create article</button>
    </form>
  {% else %}
    <p>Your article was created.</p>
    <a href="{{ object.get_absolute_url }}">{{ object.title }} - {{ object.content }}</a>
  {% endif %}
{% endblock content %}
