{% extends "base.html" %}

{% block content %}

  <form action="">
    <input type="text" name="q" />
    <input type="submit">
  </form>

  <ol>
    {% for object in object_list %}
      {% if object %}
        <li><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ol>

{% endblock content %}
